<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p *ngIf="game.parent_platforms?.length" class="game-tabs-par">
        Platforms:
        <span *ngFor="let game of game.parent_platforms; let last = last"
          >{{ game.platform.name }}<span *ngIf="!last">, </span></span
        >
      </p>
      <p *ngIf="game.publishers?.length" class="game-tabs-par">
        Publishers:
        <span *ngFor="let publisher of game.publishers; let last = last"
          >{{ publisher.name }}<span *ngIf="!last">, </span></span
        >
      </p>
      
    </mat-tab>

  </mat-tab-group>
</div>
